.mandatory_field{
	color: red;
	font-weight: bold;
}
.form-label{
	font-weight: 700;
}
.display-error{
	color: red;
}
a.disabled-delete {
	pointer-events: none;
	cursor: default;
}
#add-btn{
	margin-bottom: 10px;
}
#home-btn{
	margin-left: 5px;
}